@{
    ViewBag.Title = "School Library";
}

<div class="jumbotron">
    <h1>SCHOOL LIBRARY</h1>
    <p class="lead">
        This is a work in progress project to implement all the things i have learned about C# and ASP.NET MVC.
        <br /><br />
        In this project i will be using Entity Framework 6 code first approach with MVC 5, SLQ Server Express database, 
        AutoMapper for object mapping, PagedList for paging, Autofac for Dependency Injection ...
        <br /><br />
        todo:
        add unit testing

    </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

